<template>
    <v-bottom-navigation horizontal fixed :value="activeBtn" color="red darken-1">
        <v-btn class="cancel-btn"
               @click="$emit('cancelArea')"
               :disabled="!isBtnShown"
        >
            <span light>CANCEL</span>
            <v-icon light>mdi-close-circle</v-icon>
        </v-btn>
    </v-bottom-navigation>
    <!-- </v-overlay> -->
</template>

<script>
    export default {
        name: "AreaCancelBtn",
        props: ['isBtnShown'],
        data: function() {
            return {
                activeBtn: 0
            }
        },
        watch: {
            isBtnShown : function() {
                if (this.isBtnShown)
                    this.activeBtn = 1;
                else
                    this.activeBtn = 0;
            }
        }
    }
</script>

<style scoped>
    .cancel-btn {
        left: 2vw;
    }
</style>