<template>
    <v-card class="service-card ma-12" dark width="200px" height="200px" color="indigo" outlined>
        <v-img class="logo" v-bind:src="getServiceLogo(title)" center contain max-height="70px" max-width="300"></v-img>
        <v-card-title class="justify-center">
            <p class="display-1"> {{title.charAt(0).toUpperCase() + title.slice(1)}}</p>
        </v-card-title>
        <v-card-actions>
            <div v-if="isConnected">
                <v-btn
                       class="action-btn amber--text text--lighten-3" dark :outlined="!btnSwitch" :text="btnSwitch" light left
                       :disabled="btnSwitch || !$store.getters['services/doesServiceHaveActions'](title)"
                       @click="$emit('serviceActions', title)"
                >
                    ACTIONS
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                       :outlined="btnSwitch" :text="!btnSwitch" dark right class="action-btn reactions-btn amber--text text--lighten-2"
                        :disabled="!btnSwitch || !$store.getters['services/doesServiceHaveReactions'](this.title)"
                        @click="$emit('serviceReactions', title)">
                    REACTIONS
                </v-btn>
            </div>
            <v-btn v-else class="action-btn connect-btn" color="green accent-2" outlined dark
                   @click="connectToService"
            >
                CONNECT
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        name: "ServiceCard",
        props: ["title", "btnSwitch", "isConnected"],
        methods: {
            getServiceLogo(serviceName) {
                return require('@/assets/img/services/' + serviceName + '_white.png');
            },
            async connectToService() {
                window.location.href = process.env.VUE_APP_LOCAL_SERVER_URL + "auth/" + this.title +
                    "?userToken=" + document.cookie + "&toRedirect=new-area";
            },
        },
    }
</script>

<style scoped>
    >>>.service-card {
        margin-top: 200px !important;
        text-align: center;
    }
    >>>.logo {
        margin-top: 10%;
        margin-left: 25%;
        margin-right: 25%;
    }
    >>>.action-btn {
        position: absolute;
        margin-left: -13px;
        bottom: 0;
    }
    >>>.reactions-btn {
        margin-left: 40%;
    }
    >>>.connect-btn {
        position: absolute;
        bottom: 0;
        margin-left: 18%;
    }
</style>