<template>
    <v-overlay :value="isOverlayToggled"  transition="fade-transition"
    >
        <v-card class="card-placeholder">
            <div class="card-title headline font-weight-thin black--text">
                AREA SETUP
            </div>
            <v-divider class="card-div" light></v-divider>
            <v-container>
                <v-row class="row">
                    <span class="headline font-weight-light black--text">ACTION:</span>
                </v-row>
                <v-row class="row">
                    <v-col>
                        <v-img class="logo" :src="actionService.image"
                               max-height="100px"
                               max-width="100px"
                        ></v-img>
                    </v-col>
                    <v-col class="description">
                        <span class="body-1 black--text">{{action.description}}</span>
                    </v-col>
                </v-row>
                <v-row class="row">
                    <span class="headline font-weight-light black--text">REACTION:</span>
                </v-row>
                <v-row class="row">
                    <v-col>
                        <v-img class="logo" :src="reactionService.image"
                               max-height="100px"
                               max-width="100px"
                        ></v-img>
                    </v-col>
                    <v-col class="description">
                        <span class="body-1 black--text" >{{reaction.description}}</span>
                    </v-col>
                </v-row>
                <div class="btn-group">
                    <v-btn large class="cancel-btn" color="grey lighten-2" light
                           @click="$emit('cancelCurrentArea')"
                    >
                        CANCEL
                    </v-btn>
                    <v-btn large class="finish-btn" color="blue darken-1" dark
                           @click="onTriggerValidation"
                    >
                        APPLY
                    </v-btn>
                </div>
            </v-container>
        </v-card>
    </v-overlay>
</template>

<script>
    import {mapState} from 'vuex';
    import userAPI from '../../api/user'

    export default {
        name: "ReactionsCard",
        props: ['isOverlayToggled', 'actionService', 'reactionService'],
        computed: mapState ('area', {
            action: state => state.action,
            reaction: state => state.reaction,
            actionParams: state => state.actionSettings,
            reactionParams: state => state.reactionSettings,
        }),
        methods: {
            onTriggerValidation() {
                this.postNewArea();
                this.$router.push({ name: 'PROFILE'});
            },
            async postNewAction() {
                const params = new URLSearchParams();
                params.append('userToken', document.cookie);
                params.append('serviceName', this.actionService.title);
                params.append('actionName', this.action.name);
                params.append('parameters', JSON.stringify(this.actionParams));

                let res = await userAPI.post('action/new', params);
                return res;
            },
            async postNewReaction() {
                const params = new URLSearchParams();
                params.append('userToken', document.cookie);
                params.append('serviceName', this.reactionService.title);
                params.append('reactionName', this.reaction.name);
                params.append('parameters', JSON.stringify(this.reactionParams));

                let res = await userAPI.post('reaction/new', params);
                return res;
            },
            async postNewArea() {
                const newActionRes = await this.postNewAction();
                const newReactionRes = await this.postNewReaction();

                const params = new URLSearchParams();
                params.append('userToken', document.cookie);
                params.append('actionId', newActionRes.data);
                params.append('reactionId', newReactionRes.data);

                let res = await userAPI.post('area/new', params);
                return res;
            }
        },
    }
</script>

<style scoped>
    >>>.card-placeholder {
        width: 50vw;
        height: 80vh;
        top: 5px;
        background-color: white;
    }
    >>>.card-title {
        margin-left: 9%;
        padding-top: 5%;
    }
    >>>.card-div {
        margin-left: 8%;
        margin-right: 8%;
        margin-top: 2%;
    }
    >>>.btn-group {
        padding-left: 75%;
        padding-top: 5%;
    }
    >>>.cancel-btn {
        margin-left: -100px;
    }
    >>>.finish-btn {
        margin-left: 10px;
    }
    >>>.row {
        margin-top: 5vh;
        margin-left: 4vw;
        margin-right: 4vw;
    }
    >>>.description {
        margin-top: 1vh;
    }
</style>