<template>
    <div class="about-page">
        <AppNavigation
            :shown-page="page" />
        <v-container>
            <h1 class="display-3 indigo--text pa-5">ABOUT.JSON</h1>
            <v-divider light></v-divider>
            <JsonViewer class="json-viewer" :value="rawData"></JsonViewer>
        </v-container>
    </div>
</template>

<script>
    import AppNavigation from "../components/app-navigation/AppNavigation";
    import JsonViewer from 'vue-json-viewer';
    import axios from "axios";

    export default {
        name: "AboutPage",
        components: {AppNavigation, JsonViewer},
        data: function() {
            return {
                page: "ABOUT",
                rawData: '',
            }
        },
        created() {
            this.getRawAbout();
        },
        methods: {
            async getRawAbout() {
                let myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/x-www-form-urlencoded");
                myHeaders.append("Access-Control-Allow-Origin", process.env.VUE_APP_PUBLIC_SERVER_URL);

                const res = await axios.get(process.env.VUE_APP_LOCAL_SERVER_URL + 'about.json', {
                    params: {
                        method: 'GET',
                        redirect: 'follow',
                        crossDomain: true
                    }
                });
                this.rawData = res.data;
                return res;
            }
        }
    }
</script>

<style scoped>
    .about-page {
        height: 100%;
        background-color: #FFF8E1
    }
    .json-viewer {
        background-color: #FFF8E1
    }
</style>