<template>
    <span >
        <AppNavigation
            :shown-page="page" />
        <v-container class="dl-elems pa-0" fluid fill-height>
            <v-card class="dl-btn pa-1" raised color="indigo text-center" dark outlined height="300px" width="500px"
                   @click="onDownloadRequest"
            >
                <p class="display-3 amber--text text--lighten-4" >Download Android client APK</p>
                <v-spacer></v-spacer>
                <v-icon class="amber--text text--lighten-4" x-large>{{icon}}</v-icon>
            </v-card>
        </v-container>
        <!-- <a v-bind:href="ApkPath" download>DL THIS</a> -->
    </span>
</template>
<script>
    import {mdiDownload} from '@mdi/js'
    import AppNavigation from "../components/app-navigation/AppNavigation";
    // import ApkPath from '../../app-debug.apk';
    import axios from 'axios';

    export default {
        name: 'APKDownloadPage',
        components: {
            AppNavigation
        },
        data() {
            return {
                page: "DOWNLOAD APK",
                icon: mdiDownload
                // ApkPath:ApkPath
            }
        },
        methods: {
            onDownloadRequest() {
                axios({
                    url: 'http://localhost:8081/client.apk',
                    method: 'GET',
                    responseType: 'blob',
                }).then((response) => {
                    var fileURL = window.URL.createObjectURL(new Blob([response.data]));
                    var fileLink = document.createElement('a');

                    fileLink.href = fileURL;
                    fileLink.setAttribute('download', 'client.apk');
                    document.body.appendChild(fileLink);

                    fileLink.click();
                });
                console.log('on download request');
            }
        }
    }
</script>

<style scoped>
    .dl-elems {
        background-position: center;
        background-color: #3F51B5;
        background-image: url("../assets/img/area_logo_amber_24.png");
        overflow: hidden;
    }
    >>>.dl-btn {
        left: 34%;
    }
    .display-3 {
        margin-top: 50px;
    }
</style>