<template>
    <v-container class="pa-0" fluid fill-height>
        <span class="login-background">
            <h2 class="app-title display-3 indigo--text pa-10 ma-10">AREA 51</h2>
            <v-overlay opacity="0" light>
                <v-card class="text-center pa-4 mx-auto" :elevation="10" :ma="5" :padding="4" fluid light width="600" height="400">
                    <v-row>
                        <v-tabs fixed-tabs ligh v-model="tab">
                            <v-tab key="connection">
                                connection
                            </v-tab>
                            <v-tab key="register">
                                register
                            </v-tab>
                        </v-tabs>
                    </v-row>
                    <v-row v-if="on">
                        <v-col v-if="tab === 1">
                            <inscription
                            @isCreated="isCreated"
                            @isNotCreated="isNotCreated"/>
                        </v-col>
                        <v-col v-if="tab === 0">
                            <connection
                            @isConnected="isConnected"
                            @isNotConnected="isNotConnected"/>
                        </v-col>
                    </v-row>
                </v-card>
                <v-snackbar v-model="SisNotConnected" :timeout="timeout">
                    {{ txtNotConnected }}
                    <v-btn color="red" txt @click="SisNotConnected = false">
                        Close
                    </v-btn>
                </v-snackbar>
                <v-snackbar v-model="SisNotCreated" :timeout="timeout">
                    {{ txtNotCreated }}
                    <v-btn color="red" txtNotCreated @click="SisNotCreated = false">
                        Close
                    </v-btn>
                </v-snackbar>
            </v-overlay>
        </span>
    </v-container>
</template>

<script>
    import connection from '../components/connection/Connection.vue';
    import inscription from '../components/connection/Inscription.vue';

    export default {
        name: 'ConnectionPage',
        components: {
            connection,
            inscription,
        },
        data () {
            return {
                on: true,
                page: 'CONNECTION',
                token: "",
                SisNotConnected: false,
                SisNotCreated: false,
                txtNotConnected: "connection failed",
                txtNotCreated: "inscription failed",
                timeout: 2000,
                tab: 0
            }
        },
        methods: {
            changePage(itemTitle) {
                this.$router.push({
                    name: itemTitle
                })
            },
            isConnected() {
                this.token = document.cookie.split("; ")[0];
                this.$store.dispatch('services/getAppServices');
                this.changePage('EXISTING AREAS')
            },
            isNotConnected() {
                this.SisNotConnected = true
            },
            isCreated() {
                this.token = document.cookie.split("; ")[0];
                this.$store.dispatch('services/getAppServices');
                this.changePage('EXISTING AREAS')
            },
            isNotCreated() {
                this.SisNotCreated = true
            },
        }
    }
</script>

<style scoped>
    >>>.login-background {
        height: 100vh;
        width: 100vw;
        background-position: center;
        background-color: #FFD54F;
        background-image: url("../assets/img/area_logo_indigo_24.png");
        position: fixed;
        overflow: hidden;
    }
</style>