<template>
    <div class="existing-areas-page">
        <AppNavigation
            :shown-page="page" />
        <v-container>
            <h1 class="block-title display-3 amber--text text--lighten-2 pa-5">EXISTING AREAS</h1>
            <v-divider dark class="block-div"></v-divider>
            <v-row class="pa-5">
                <div>
                <v-col>
                <v-card class="pa-4 flexcard" height="250" width="250" fat color="grey darken-1"
                        raised elevation="10" v-on:click="addActionReaction">
                    <v-icon class="plus-icon" large color="white">mdi-plus</v-icon>
                </v-card>
                </v-col>
                </div>
                <div v-for="service in existing" :key="service.nb">
                    <v-col>
                        <v-card class="pa-4 flexcard" height="250" color="amber lighten-5">
                            <v-col justify="center" class="px-1">
                                <v-row>
                                    <v-img v-bind:src="service[2]"
                                    max-height="69"
                                    max-width="69"
                                    contain/>
                                    <v-col class="text-center">
                                        <p> {{ service[0] }} </p>
                                        <p> {{ service[1] }} </p>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-img v-bind:src="service[5]"
                                    max-height="69"
                                    max-width="69"
                                    contain/>
                                    <v-col class="text-center">
                                        <p> {{ service[3] }} </p>
                                        <p> {{ service[4] }} </p>
                                    </v-col>
                                </v-row>
                            </v-col>
                            <v-divider class="bottom-divider"></v-divider>
                            <v-card-actions>
                                <v-btn color="success" icon v-on:click="modifyActionReaction(service.nb)" dark>
                                    <v-icon>mdi-tools</v-icon>
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn color="error" icon v-on:click="deleteActionReaction(service[7])" dark>
                                    <v-icon>mdi-trash-can-outline</v-icon>
                                </v-btn>
                            </v-card-actions>
                            {{ service.nb }}
                        </v-card>
                    </v-col>
                </div>
            </v-row>
        </v-container>
    </div>
</template>

<script>
    import AppNavigation from "../components/app-navigation/AppNavigation";
    import serv from '../api/services'
    import usr from '../api/user'

    export default {
        name: "ExistingAreasPage",
        components: {AppNavigation},
        data () {
            return {
                page: "EXISTING AREAS",
                nbWidgets: 0,
                existing: [],
            }
        },
        beforeMount() {
            this.getAREAS()
        },
        methods: {
            async getAREAS() {
                let clean = []
                this.existing = clean
                let token = '';

                token = document.cookie;

                const res = await usr.get('area', {params: {userToken: token}})
                let list = await serv.get('list', {params: {userToken: token}})
                for (let tmp = 0 ;res.data[tmp]; tmp++) {
                    let logoAct = ""
                    let descAct = ""
                    let nameAct = ""
                    let logoReact = ""
                    let descReact = ""
                    let nameReact = ""

                    let act = await usr.get('action', {params: {userToken: token, actionId: res.data[tmp].actionid}})
                    let react = await usr.get('reaction', {params: {userToken: token, reactionId: res.data[tmp].reactionid}})
                    let service = await usr.get('service', {params: {userToken: token}})

                    for (let i = 0; service.data[i]; i++) {
                        if (service.data[i]._id == act.data.owner) {
                            nameAct = act.data.name
                            descAct = act.data.description
                            for (let y = 0; list.data[y]; y++) {
                                if (service.data[i].name == list.data[y].name)
                                    logoAct = list.data[y].logo;
                            }
                        }
                        if (service.data[i]._id == react.data.owner) {
                            nameReact = react.data.name
                            descReact = react.data.description
                            for (let z = 0; list.data[z]; z++) {
                                if (service.data[i].name == list.data[z].name)
                                    logoReact = list.data[z].logo;
                            }
                        }
                    }

                    let nb = this.nbWidgets
                    let idArea = res.data[tmp]._id
                    let tm = [nameAct, descAct, logoAct, nameReact, descReact, logoReact, nb, idArea]
                    this.nbWidgets++
                    this.existing.push(tm)
                }
            },
            modifyActionReaction(nb) {
                this.deleteActionReaction(nb)
                this.$router.push({
                    name: 'NEW AREA'
                })
            },
            async deleteActionReaction(nb) {
            let token = ""
            token = document.cookie;

            const res = await usr.delete('area/delete', {params: {userToken: token, areaId: nb}})

            if (res.status == 200)
                this.getAREAS()
            },
            addActionReaction() {
                this.$router.push({
                    name: 'NEW AREA'
                })
            },
        },
    }
</script>

<style scoped>
    .existing-areas-page {
        height: 100vh;
        background-color: #3F51B5;
    }
    >>>.flexcard {
        display: flex;
        flex-direction: column;
    }
    .plus-icon {
        position: center;
        padding-top: 85px;
    }
    .bottom-divider {
        margin-top: -20px;
    }
</style>