<template>
    <div class="background">
        <AppNavigation
            :shown-page="page" />
        <v-stepper v-model="el" class="indigo" dark permanent>
            <v-stepper-header color="amber lighten-2">
                <v-stepper-step dark color="indigo darken-3" step="1" :complete="el > 1">Select Action</v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step color="black" step="2" :complete="el > 2">Select Reaction</v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step step="3" :complete="el > 3">Configure AREA</v-stepper-step>
            </v-stepper-header>
        </v-stepper>
        <div class="new-area-content">
            <ActionsCard
                    :serviceTitle=actionCardTitle
                    :isOverlayToggled="isActionCardToggled"
                    :is-action-set="isActionSet"
                    :items="currentActionService.actions"
                    @actionRegistered="newActionRegistered"
                    @settings="toggleItemSettings"
            >
            </ActionsCard>
            <ReactionsCard
                    :serviceTitle=reactionCardTitle
                    :items=currentReactionService.reactions
                    :isOverlayToggled="isReactionCardToggled"
                    :is-reaction-set="isReactionSet"
                    @reactionRegistered="newReactionRegistered"
                    @settings="toggleItemSettings"
            >
            </ReactionsCard>
            <ItemSetting
                :type="settingType"
                :item="settingItem"
                :is-shown="areSettingsShown"
                :parameters="settingParams"
                @onCancel="hideSettings"
                @onApply="onSettingsApply"
                >
            </ItemSetting>
            <AreaCancelBtn
                    :is-btn-shown="isCancelBtnShown"
                    @cancelArea ="cancelCurrentArea"
            >
            </AreaCancelBtn>
            <v-list class="service-card-group" color="#3F51B5">
                <ServiceCard
                    v-for="item in services"
                    :key="item.title"
                    :title="item.title"
                    :is-connected="item.isConnected"
                    :btnSwitch="reactionTime"
                    @serviceActions="toggleServiceActions"
                    @serviceReactions="toggleServiceReactions"
                >
                </ServiceCard>
            </v-list>
            <TriggerSetup
                    :isOverlayToggled="isTriggerSetupToggled"
                    :action="currentAction"
                    :reaction="currentReaction"
                    :action-service="currentActionService"
                    :reaction-service="currentReactionService"
                    @cancelCurrentArea="cancelCurrentArea"
            >
            </TriggerSetup>
        </div>
    </div>
</template>

<script>
    import AppNavigation from '../components/app-navigation/AppNavigation'
    import ServiceCard from "../components/new_area/ServiceCard";
    import ActionsCard from "../components/new_area/actions-reactions/ActionsCard";
    import ReactionsCard from "../components/new_area/actions-reactions/ReactionsCard";
    import TriggerSetup from "../components/new_area/TriggerSetup";
    import AreaCancelBtn from "../components/new_area/AreaCancelBtn";
    import ItemSetting from "../components/new_area/actions-reactions/settings/ItemSetting";
    import { mapState } from 'vuex';

    export default {
        name: "NewAreaPage",
        components: {
            AppNavigation,
            ServiceCard,
            ActionsCard,
            ReactionsCard,
            TriggerSetup,
            AreaCancelBtn,
            ItemSetting
        },
        data: function() {
            return {
                page: "NEW AREA",
                reactionTime: false,

                actions: [],
                actionCardTitle: "",
                isActionCardToggled: false,
                isActionSet: false,

                reactions: [],
                reactionCardTitle: "",
                isReactionCardToggled: false,
                isReactionSet: false,

                isTriggerSetupToggled: false,
                isCancelBtnShown: false,
                el: 1,

                currentAction: {},
                currentReaction: {},
                currentActionService: {},
                currentReactionService: {},

                settingType: 'ACTION',
                settingItem: {},
                settingParams: {},

                areSettingsShown: false,
            }
        },
        computed: mapState ('services', {
            services: 'services'
        }),
        created() {
            if (this.services.length === 0)
                this.$store.dispatch('services/getAppServices');
        },
        methods: {
            hideSettings() {
                this.settingParams = {};
                this.areSettingsShown = false;
            },
            toggleServiceActions(serviceTitle) {
                if (this.actionCardTitle === serviceTitle)
                    this.isActionCardToggled = !this.isActionCardToggled;
                else {
                    this.isActionCardToggled = true;
                    this.actionCardTitle = serviceTitle;
                    for (let i = 0; i < this.services.length; ++i) {
                        if (serviceTitle === this.services[i].title) {
                            this.currentActionService = this.services[i];
                            break;
                        }
                    }
                }
            },
            toggleServiceReactions(serviceTitle) {
                if (this.reactionCardTitle === serviceTitle)
                    this.isReactionCardToggled = !this.isReactionCardToggled;
                else {
                    this.isReactionCardToggled = true;
                    this.reactionCardTitle = serviceTitle;
                    for (let i = 0; i < this.services.length; ++i) {
                        if (serviceTitle === this.services[i].title) {
                            this.currentReactionService = this.services[i];
                            break;
                        }
                    }
                }
            },
            toggleItemSettings(type, item, params) {
                this.settingType = type;
                this.settingItem = item;
                this.settingParams = params;
                this.areSettingsShown = true;
            },
            cancelCurrentArea() {
                this.isTriggerSetupToggled = false;
                this.isActionCardToggled = false;
                this.isReactionCardToggled = false;
                this.el = 1;
                this.isCancelBtnShown = false;
                this.reactionTime = false;
                this.settingParams = {};
            },
            onSettingsApply() {
                this.areSettingsShown = false;
                if (!this.reactionTime)
                    this.isActionSet = true;
                else {
                    this.isReactionSet = true;
                }
            },
            newActionRegistered(action) {
                if (!this.isActionSet)
                    this.isActionSet = true;
                this.isCancelBtnShown = true;
                this.el = 2;
                this.reactionTime = true;
                this.currentAction = action;
            },
            newReactionRegistered(reaction) {
                if (!this.isReactionSet)
                    this.isReactionSet = true;
                this.el++;
                if (this.el === 3)
                    this.isTriggerSetupToggled = true;
                this.currentReaction = reaction;
            },
        }
    }
</script>
<style scoped>
    >>>.service-card-group {
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-between;
        margin-bottom: 7vh;
    }

    @keyframes BackgroundGradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
</style>