<template>
    <div class="profile-page">
        <AppNavigation
                :shown-page="page"
        />
        <v-container>
            <h1 class="display-3 amber--text text--lighten-2 pa-5">PROFILE</h1>
            <v-divider dark></v-divider>
            <h1 class="block-title display-1 amber--text text--lighten-2">Credentials</h1>
            <v-divider dark class="block-div"></v-divider>
            <UserCredentials></UserCredentials>
            <h1 class="block-title display-1 amber--text text--lighten-2">Services</h1>
            <v-divider dark class="block-div"></v-divider>
            <div class="services-card-group">
                <ServiceConnectionCard
                        v-for="item in services"
                        :key="item.title"
                        :title="item.title"
                        :logo="item.image"
                        :is-connected="item.isConnected"
                        :is-connection-required="item.connectionRequired"
                        @disconnect="disconnectService"
                >
                </ServiceConnectionCard>
            </div>
        </v-container>
    </div>
</template>

<script>
    import AppNavigation from "../components/app-navigation/AppNavigation";
    import UserCredentials from "../components/profile/UserCredentials";
    import ServiceConnectionCard from "../components/profile/ServiceConnectionCard";
    import serv from '../api/services'
    import usr from '../api/user'

    export default {
        name: "ProfilePage",
        components: {AppNavigation, UserCredentials, ServiceConnectionCard},
        data () {
            return {
                page: "PROFILE",
                services: []
            }
        },
        created() {
            this.getServicesInfo();
        },
        methods: {
            disconnectService(serviceTitle) {
                for (let i = 0; i < this.services.length; ++i) {
                    if (this.services[i].title === serviceTitle)
                        this.services[i].isConnected = false;
                }
            },
            async getAppServices() {
                let token = '';
                token = document.cookie;

                const res = await serv.get('list', {params: {userToken: token}})

                return res;
            },
            async getServicesInfo() {
                const srv = await this.getAppServices();
                for (let i = 0; i < srv.data.length; ++i) {
                    this.services.push({
                        title: srv.data[i].name,
                        image: srv.data[i].logo,
                        connectionRequired: srv.data[i].connectionRequired,
                        isConnected: false
                    });
                }
                let token = '';
                token = document.cookie;

                var res = await usr.get('service', {params: {userToken: token}})

                for (let i = 0; i < res.data.length; ++i) {
                    for (let j = 0; j < this.services.length; ++j) {
                        if (res.data[i].name === this.services[j].title) {
                            this.services[j].isConnected = true;
                            break;
                        }
                    }
                }
            }
        },
    }
</script>

<style scoped>
    .profile-page {
        background-color: #3F51B5;
    }
    .block-title {
        margin-top: 40px;
        margin-left: 30px;
    }
    .block-div {
        margin-left: 30px;
        margin-right: 30px;
    }
    .services-card-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        margin-top: 30px;
        margin-left: 15vw;
        margin-right: 10vw;
    }
</style>