<template>
     <v-overlay opacity="0" z-index="0" :value="isOverlayToggled"
        hover
     >
        <v-card class="card-placeholder" height="70vh" outlined dark>
            <p class="overline amber--text text--lighten-2">ACTION</p>
            <div class="card-title headline display-1 white--text">
                {{serviceTitle.charAt(0).toUpperCase() + serviceTitle.slice(1) }}
            </div>
            <v-divider class="card-div" dark></v-divider>
                <v-radio-group v-model="radioModel" column class="radio-group" dark>
                    <v-radio class="radio-button"
                            v-for="(item, index) in items"
                            :key="index"
                            :label="item.description"
                            :value="index"
                            @click="changeAction(item.name, index)"
                            ripple
                            dark
                    ></v-radio>
                </v-radio-group>
            <v-btn class="fb-validate" fab dark color="green accent-3" large
                    @click="processAction" :outlined="isBtnOutlined" :icon="!isBtnOutlined">
                <v-icon color="green accent-3" dark> {{ applyIcon }} </v-icon>
            </v-btn>
        </v-card>
    </v-overlay>
</template>

<script>
    export default {
        name: "ActionsCard",
        props: ['serviceTitle', 'isOverlayToggled', 'isActionSet', 'items'],
        data: function() {
            return {
                radioModel: 0,
                isBtnOutlined: true,
                applyIcon: "mdi-playlist-check",
                applyIconActivated: "mdi-check",
                applyIconDeactivated: "mdi-playlist-check",
                areSettingsToggled: false,
                currentAction: {},
            }
        },
        watch: {
            isOverlayToggled: function() {
                if (this.isOverlayToggled)
                    return;
                this.applyIcon = this.applyIconDeactivated;
                this.isBtnOutlined = true;
            },
            isActionSet: function() {
                if (this.isActionSet)
                    this.registerAction();
            }
        },
        methods: {
            changeAction(actionName, actionIndex) {
                this.radioModel = actionIndex;
            },
            processAction() {
                this.currentAction = this.items[this.radioModel];
                let baseActionParameters = JSON.parse(this.items[this.radioModel].parameters);
                if (Object.keys(baseActionParameters).length === 0)
                    this.registerAction();
                else
                    this.$emit('settings', "ACTION", this.items[this.radioModel], baseActionParameters);
            },
            registerAction() {
                this.isBtnOutlined = false;
                this.applyIcon = this.applyIconActivated;
                this.$store.commit('area/setAction', this.items[this.radioModel]);
                this.$emit('actionRegistered', this.items[this.radioModel]);
            },
        }
    }

</script>

<style scoped>
    >>>.card-placeholder {
        width: 30vw;
        left: -18vw;
        top: 10px;
        background-color: #3F51B5;
        overflow-y: auto;
    }
    .overline {
        margin-left: 5%;
        margin-top: 5%;
    }
    >>>.card-title {
        margin-left: 9%;
        margin-top: -4%;
        padding-top: 5%;
    }
    >>>.card-div {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
    }
    >>>.radio-group {
        margin-top: 5%;
        margin-left: 10%;
        overflow-y: auto;
    }
    >>>.radio-button {
        margin-top: 5%;
    }
    >>>.fb-validate {
        position: absolute;
        bottom: 40px;
        margin-left: 83%;
    }
</style>