<template>
    <v-overlay opacity="0" z-index="0" :value="isOverlayToggled"
    >
        <v-card class="card-placeholder" height="70vh" outlined dark>
            <p class="overline amber--text text--lighten-2">REACTION</p>
            <div class="card-title headline display-1 white--text">
                {{serviceTitle.charAt(0).toUpperCase() + serviceTitle.slice(1) }}
            </div>
            <v-divider class="card-div" dark></v-divider>
            <v-radio-group v-model="radioModel" column class="radio-group">
                <v-radio class="radio-button"
                         v-for="(item, index) in items"
                         :key="index"
                         :label="item.description"
                         :value="index"
                         @click="changeAction(item.name, index)"
                         ripple
                         dark
                ></v-radio>
            </v-radio-group>
            <v-btn class="fb-validate" fab dark color="green accent-3" large
                   @click="processReaction" :outlined="isBtnOutlined" :icon="!isBtnOutlined">
                <v-icon color="green accent-3" dark> {{ applyIcon }} </v-icon>
            </v-btn>
        </v-card>
    </v-overlay>
</template>

<script>
    export default {
        name: "ReactionsCard",
        props: ['serviceTitle', 'isOverlayToggled', 'isReactionSet', 'items'],
        data: function() {
            return {
                radioModel: 0,
                isBtnOutlined: true,
                applyIcon: "mdi-playlist-check",
                applyBtnColor: "blue darken-1",
                applyIconColor: "white",
                applyIconActivated: "mdi-check",
                applyIconDeactivated: "mdi-playlist-check",
                areSettingsToggled: false,
                currentReaction: {},
            }
        },
        watch: {
            isOverlayToggled: function() {
                if (this.isOverlayToggled)
                    return;
                this.applyIcon = this.applyIconDeactivated;
            },
            isReactionSet: function() {
                if (this.isReactionSet)
                    this.registerReaction();
            }
        },
        methods: {
            changeAction(actionName, actionIndex) {
                this.radioModel = actionIndex;
            },
            processReaction() {
                this.currentReaction = this.items[this.radioModel];
                let baseReactionParameters = JSON.parse(this.items[this.radioModel].parameters);
                if (Object.keys(baseReactionParameters).length === 0)
                    this.registerReaction();
                else
                    this.$emit('settings', "REACTION", this.items[this.radioModel], baseReactionParameters);
            },
            registerReaction() {
                this.isBtnOutlined = false;
                this.applyIcon = this.applyIconActivated;
                this.$store.commit('area/setReaction', this.items[this.radioModel]);
                this.$emit('reactionRegistered', this.items[this.radioModel]);
            },
        }
    }

</script>

<style scoped>
    >>>.card-placeholder {
        width: 30vw;
        left: 31vw;
        top: 10px;
        background-color: #3F51B5;
        overflow-y: auto;
    }
    .overline {
        margin-left: 5%;
        margin-top: 5%;
    }
    >>>.card-title {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
    }
    >>>.card-div {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2%;
    }
    >>>.radio-group {
        margin-top: 5%;
        margin-left: 10%;
        overflow-y: auto;
    }
    >>>.radio-button {
        margin-top: 5%;
    }
    >>>.fb-validate {
        position: absolute;
        bottom: 40px;
        margin-left: 83%;
    }
</style>