<template>
  <v-app>
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
  export default {
    name: 'App',
    created() {
      document.cookie.split(";").forEach(function(c) {
        document.cookie = c
                .replace(/^ +/, "")
                .replace(/=.*/, "=;expires=" + new Date()
                .toUTCString() + ";path=/"); });
    }
  };
</script>