<template>
    <v-overlay :value="isShown" z-index="2"
    >
        <v-card v-if="isShown === true" class="settings-card" tile max-height="80vh">
            <v-container>
                <div class="card-title headline font-weight-light black--text">
                    SET UP THE {{type}}:
                </div>
                <span class="description headline font-weight-thin black--text">{{item.description}}</span>
                <v-divider class="divider" light></v-divider>
                <SettingParameter
                    v-for="(param, index) in paramsCpy"
                    :key="param.key"
                    :type="type"
                    :param-name="param.key"
                    :description="param.value.split('|')[0]"
                    :example="getParamExample(param.value)"
                    :is-last="index === (paramsCpy.length - 1)"
                    >
                </SettingParameter>
                <v-row justify="end">
                    <v-col cols="4" md="3">
                        <v-btn large class="cancel-btn" color="grey lighten-1" light depressed
                               @click="$emit('onCancel')">
                            CANCEL
                        </v-btn>
                    </v-col>
                    <v-col cols="4" md="3">
                        <v-btn large class="finish-btn" color="indigo" light
                               :disabled="isApplyBtnDisabled"
                               outlined
                               @click="onApplyBtnClicked">
                            APPLY
                        </v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </v-card>
    </v-overlay>
</template>

<script>
    import SettingParameter from "./SettingParameter";

    export default {
        name: "ItemSetting",
        components: {
            SettingParameter
        },
        props: ['type', 'item', 'parameters', 'isShown'],
        data : function() {
            return {
                applyBtnClicked: false,
                paramsCpy: [],
            }
        },
        computed: {
            isApplyBtnDisabled: function() {
                if (this.type === "ACTION")
                    return !this.$store.getters['area/areActionSettingsSet'];
                return !this.$store.getters['area/areReactionSettingsSet'];
            }
        },
        watch: {
            isShown: function() {
                if (this.isShown) {
                    for (let elem in this.parameters) {
                        if (elem !== 'req')
                            this.paramsCpy.push({
                                key: elem, value: this.parameters[elem]
                            });
                    }
                    if (this.type === "ACTION") {
                        this.$store.commit('area/setBaseActionSettings', this.parameters);
                        return;
                    }
                    this.$store.commit('area/setBaseReactionSettings', this.parameters);
                    return;
                }
                this.paramsCpy = [];
            }
        },
        methods: {
            onApplyBtnClicked() {
                this.applyBtnClicked = true;
                this.$emit('onApply');
            },
            getParamExample(param) {
                if (param.split('|').length !== 1)
                    return param.split('|')[1];
            }
        }
    }
</script>

<style scoped>
    .settings-card {
        left: 6vw;
        width: 50vw;
        background-color: white;
        overflow-y: auto;
    }
    .description {
        margin-top: 10px;
    }
    .divider {
        margin-bottom: 40px;
    }
</style>