<template>
    <span>
        <v-row class="param-block">
            <span class="subtitle-1 bold indigo--text"> {{description}} </span>
        </v-row>
        <v-row class="prompt">
            <v-col cols="12">
                <v-text-field
                        class="prompt"
                        :label="example"
                        height="50px"
                        filled
                        light
                        v-model="value"
                        @change="onValueChange"
                        @input="onInput"

                ></v-text-field>
            </v-col>
        </v-row>
    </span>
</template>

<script>
    export default {
        name: "SettingParameter",
        props: ['type', 'paramName', 'description', 'example', 'applyBtnClicked', 'isLast'],
        data: function() {
            return {
                value: ''
            }
        },
        methods: {
            onValueChange() {
                if (this.type === "ACTION")
                    this.$store.commit('area/setActionSetting', {
                        key: this.paramName, value: this.value
                    });
                else
                    this.$store.commit('area/setReactionSetting', {
                        key: this.paramName, value: this.value
                    });
            },
            onInput() {
                if (this.isLast)
                    this.onValueChange()
            }
        }
    }
</script>

<style scoped>
    >>>.param-block {
        margin-left: 1%;
    }
</style>