<template>
    <v-container fluid :elevation="10" :ma="5" :padding="4">
        <div class="pa-4 mx-auto" width="400" :padding="4" align-center>
            <v-col>
                <v-row>
                    <v-text-field v-model="mail" placeholder="email"/>
                </v-row>
                <v-row>
                    <v-text-field v-model="mdp" :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                                  :rules="[rules.required, rules.min]"
                                  :type="show ? 'text' : 'password'" name="input-10-1" label="password"
                                  hint="At least 8 characters"
                                  counter @click:append="show = !show"/>
                </v-row>
                <v-btn class="log-in-btn" color="primary" outlined v-on:click="submit()">
                    log in
                </v-btn>
            </v-col>
        </div>
    </v-container>
</template>

<script>
    import auth from '../../api/auth'

    export default {
        name: "connection",

        methods: {
            async submit() {
                let urlParams = new URLSearchParams();
                urlParams.append("email", this.mail);
                urlParams.append("password", this.mdp);

                auth.post('login', urlParams).then(res => {
                    if (res.status === 200) {
                        document.cookie = res.data.token;
                        this.$store.commit('user/notifyAuthentication', {
                            email: this.mail, userToken: res.data.token});
                        this.$emit('isConnected');
                    } else
                        this.$emit('isNotConnected');
                }).catch(err => {
                    console.log("error login: ", err);
                    this.$emit('isNotConnected')
                });
            },
        },
        data() {
            return {
                mail: '',
                mdp: '',
                show: false,
                rules: {
                    required: value => !!value || 'Required.',
                    min: v => v.length >= 8 || 'Min 8 characters',
                },
                array: []
            }
        }
    }
</script>

<style scoped>
    .log-in-btn {
        margin-top: 50px;
    }
</style>