<template>
        <div class="pa-4 mx-auto" width="400" :padding="4" align-center>
            <v-col>
                <v-row>
                    <v-text-field v-model="name" placeholder="username"/>
                </v-row>
                <v-row>
                    <v-text-field v-model="mail" placeholder="email"/>
                </v-row>
                <v-row>
                    <v-text-field v-model="mdp" :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                                  :rules="[rules.required, rules.min]"
                                  :type="show ? 'text' : 'password'" name="input-10-1" label="password"
                                  hint="At least 8 characters"
                                  counter @click:append="show = !show"/>
                </v-row>
                <v-btn color="primary" outlined v-on:click="submit()">
                    sign up
                </v-btn>
            </v-col>
        </div>
</template>

<script>
    import auth from '../../api/auth'
    import qs from 'querystring'

    export default {
        name: "inscription",

        methods: {
            async submit() {
                const urlParams = {
                    email: this.mail,
                    password: this.mdp,
                    name: this.name
                };
                let res = await auth.post('register', qs.stringify(urlParams))
                    .catch(err => {
                        console.log("error register: ", err);
                        this.$emit('isNotCreated');
                    });
                this.login(res);
            },
            async login(regRes) {
                if (regRes.status !== 200) {
                    this.$emit('isNotCreated');
                    return;
                }
                const loginParams = {
                    email: this.mail,
                    password: this.mdp
                };
                auth.post('login', qs.stringify(loginParams)).then(res => {
                    if (res.status === 200) {
                        document.cookie = res.data.token;
                        this.$store.commit('user/notifyAuthentication', {
                            email: this.mail, userToken: res.data.token
                        });
                        this.$emit('isCreated');
                    }
                }).catch(err => {
                    console.log(err);
                    this.$emit('isNotCreated');
                });
            }
        },
        data() {
            return {
                name: '',
                mail: '',
                mdp: '',
                show: false,
                rules: {
                    required: value => !!value || 'Required.',
                    min: v => v.length >= 8 || 'Min 8 characters',
                },
            }
        },
    }
</script>

<style scoped>

</style>