<template>
    <v-card class="service-card ma-3" width="300px" height="300px" color="indigo" outlined>
        <v-img class="logo" v-bind:src="getServiceLogo(title)" center contain max-height="80px" max-width="300"></v-img>
        <v-card-title class="justify-center">
            <p class="display-1 white--text"> {{title.charAt(0).toUpperCase() + title.slice(1)}}</p>
        </v-card-title>
        <v-card-actions>
            <v-btn v-if="isConnected" class="disc-btn grey--text text--lighten-1" outlined light
                   v-on:click="disconnect"
            >
                DISCONNECT
            </v-btn>
            <v-btn v-else class="conn-btn green--text text--accent-3" outlined light
                   @click="connectToService"
            >
                CONNECT
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import userAPI from '../../api/user';

    export default {
        name: "ServiceConnectionCard",
        props: ["title", "logo", "isConnected", "isConnectionRequired"],
        methods: {
            getServiceLogo(serviceName) {
                return require('@/assets/img/services/' + serviceName + '_white.png');
            },
            async disconnect() {
                 await userAPI.delete('service/delete', ({params: {
                    userToken: document.cookie,
                    serviceName: this.title,
                }}));
                this.$emit('disconnect', this.title);
            },
            async connectToService() {
                window.location.href = process.env.VUE_APP_LOCAL_SERVER_URL + "auth/" + this.title +
                    "?userToken=" + document.cookie + "&toRedirect=profile";
            },
        },
    }
</script>

<style scoped>
    >>>.service-card {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    >>>.logo {
        margin-top: 10%;
        margin-left: 25%;
        margin-right: 25%;
    }
    >>>.disc-btn {
        left: 25%;
    }
    >>>.conn-btn {
        left: 31%;
    }
</style>