<template>
    <v-card class="cred-fields-card pa-4 mx-auto indigo" dark width="1000" :padding="4" align-center outlined>
        <v-col>
            <v-row>
                <v-text-field v-model="name" placeholder="name"/>
                <v-btn @click="changeData(name, mail)"> change name
                </v-btn>
            </v-row>
            <v-row>
                <v-text-field v-model="mail" placeholder="mail" readonly/>
                <v-btn @click="changeData(name, mail)"> change mail
                </v-btn>
            </v-row>
        </v-col>
        <v-snackbar v-model="changed">
            the new name is now {{name}}, and the new mail is {{mail}}
            <v-btn color="primary" @click="changed = false">
                Close
            </v-btn>
        </v-snackbar>
    </v-card>

</template>

<script>
    import usr from '../../api/user'
    import qs from 'querystring'

    export default {
        name: "UserCredentials",
        data () {
            return {
                page: "PROFILE",
                name: '',
                mail: '',
                mdp: '',
                show: false,
                modifyN: false,
                modifyM: false,
                modifyMdp: false,
                changed: false,
                rules: {
                    required: value => !!value || 'Required.',
                    min: v => v.length >= 8 || 'Min 8 characters',
                },
            }
        },
        beforeMount(){
            this.getUser()
        },
        methods: {
            async getUser() {

            let token = document.cookie
            let res = await usr.get('', {params: {userToken: token}})
            this.mail = res.data.email
            this.name = res.data.name
        },
        async changeData(newName, newMail) {
            let token = document.cookie;
            const loginParams = {
                    userToken: token,
                    email: newMail,
                    name: newName
                };
            this.mail = newMail
            this.name = newName
            await usr.post('update', qs.stringify(loginParams))
            this.changed = true
        },
        async changePassword(newPassword) {
            let token = document.cookie;
            const loginParams = {
                    userToken: token,
                    password: newPassword
                };
            await usr.post('changePassword', qs.stringify(loginParams))
        }
    }
}
/*
            <v-row v-if="modifyM">
                <v-text-field v-model="mail" placeholder="mail" />
                <v-tooltip right>
                    <template v-slot:activator="{ on }">
                        <v-btn v-on:click="modifyM = !modifyM" v-on="on" @click="changeData(name, mail)">
                            <v-icon> mdi-pencil-minus-outline </v-icon>
                        </v-btn>
                    </template>
                    <span>lock</span>
                </v-tooltip>
            </v-row>
            <v-row>
                <v-btn depressed color="primary" @click="modifyMdp=true"> change password </v-btn>
            </v-row>
            <v-snackbar v-model="modifyMdp">
            <v-text-field v-model="newmdp" placeholder="mdp"/>
            <v-btn color="primary" txt @click="modifyMdp=false;changePassword(newmdp)">
                apply
            </v-btn>
            </v-snackbar>
*/
</script>

<style scoped>
    .cred-fields-card {
        margin-top: 40px;
    }
    .field {

    }
</style>