<template>
  <v-card class="nav-bar"
    outlined
    light
    app
  >
    <v-navigation-drawer color="amber lighten-5"
      v-model="drawer"
      permanent
      enable-resize-watcher
      app
    >
      <v-list-item two-line>
        <v-list-item-avatar>
          <v-img src="../../assets/img/area_logo_indigo_8.png"></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="title primary--text">
            AREA 51
          </v-list-item-title>
          <v-list-item-subtitle>
            {{mail}}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-divider></v-divider>

      <v-list
        dense
        nav
        class="py-0"
      >
        <v-list-item
          v-for="item in menuItems"
          :key="item.title"
          link
          @click="changePage(item)"
        >
          <v-list-item-icon>
            <v-icon :color=item.iconColor>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title class="black--text">{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          class="logout-btn"
          @click="goBackToLogin"
        >
          <v-list-item-icon>
            <v-icon :color=logoutBtn.color>{{ logoutBtn.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title class="black--text">{{ logoutBtn.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-card>
</template>

<script>
	import { mdiCellphoneArrowDown, mdiLinkVariantPlus, mdiViewDashboard, mdiAccount, mdiHelp, mdiExitRun } from '@mdi/js';
	import usr from '../../api/user';

  export default {
    name: 'AppNavigation',
    props: ['shownPage'],
    data: function () {
      return {
        drawer: true,
        baseIconColor: "black",
        shownIconColor: "indigo",
        menuItems: [
          {
            title: 'EXISTING AREAS',
            icon: mdiViewDashboard,
            isShown: false,
            iconColor: this.baseIconColor
          },
          {
            title: 'NEW AREA',
            icon: mdiLinkVariantPlus,
            isShown: false,
            iconColor: this.baseIconColor
          },
          {
            title: 'DOWNLOAD APK',
            icon: mdiCellphoneArrowDown,
            isShown: false,
            iconColor: this.baseIconColor
          },
          {
            title: 'PROFILE',
            icon: mdiAccount,
            isShown: false,
            iconColor: this.baseIconColor
          },
          {
            title: 'ABOUT',
            icon: mdiHelp,
            isShown: false,
            iconColor: this.baseIconColor
          },
        ],
        logoutBtn: {
          title: 'LOG OUT',
          icon: mdiExitRun,
          color: 'red darken-3'
		},
		mail: "",
      }
    },
    created() {
      for (let i = 0; i <  this.menuItems.length; ++i) {
        if (this.menuItems[i].title !== this.shownPage && this.menuItems[i].isShown === true) {
          this.menuItems[i].iconColor = this.baseIconColor;
          this.menuItems[i].isShown = false;
        } else if (this.menuItems[i].title === this.shownPage) {
          this.menuItems[i].isShown = true;
          this.menuItems[i].iconColor = this.shownIconColor;
        }
      }
    },
    beforeMount(){
            this.getUser()
    },
    methods: {
        async getUser() {

          let token = document.cookie.split("; ")[0];
          let res = await usr.get('', {params: {userToken: token}});
          this.mail = res.data.email
        },
      changePage(item) {
        if (item.isShown)
          return;
        this.$router.push({
          name: item.title
        })
      },
      goBackToLogin() {
          this.$store.commit('services/clearSessionInfo');
        this.$router.push({
          name: 'CONNECTION'
        })
      }
    },
  };
</script>
<style scoped>
</style>